<form action="/create" method="POST">
  <%= erb :_form, layout: false %>
</form>

<% if @notes %>
    <ol>
  <% @notes.each do |note| %>
      <li>
      <a href="/note/<%=note.id%>"><%= note.subject %></a>
      <form action="/note/<%=note.id%>/edit" method="GET">
      <input type="submit" value="Edit">
      </form>
      <form action="/note/<%=note.id%>/delete" method="POST">
      <input type="submit" value="Delete">
      </form>
      </li>
  <% end %>
    </ol>
<% end %>